:root {
  --deep-blue: #0a5071;
  --coral-pink: #f04c64;
  --skye-blue: #51c5de;
}

.main {
  background: white;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main h1 {
  font-size: 20px;
  text-align: center;
}

.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type='text'] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
}

.form button[type='submit'] {
  border: none;
  width: 40px;
  height: 40px;
  background: var(--coral-pink);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks {
  margin-top: 30px;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}

.tasks li:hover {
  background-color: var(--skye-blue);
}

.tasks li .buttonEdit {
  margin-right: 15px;
  color: var(--skye-blue);
}

.tasks li .buttonDelete {
  margin-right: 15px;
  color: var(--coral-pink);
}

.tasks li:hover .buttonEdit,
.tasks li:hover .buttonDelete {
  color: black;
}

.tasks li .buttonEdit,
.tasks li .buttonDelete {
  cursor: pointer;
  transition: all 600ms;
}

.tasks li span {
  display: flex;
  align-items: center;
}
